<div class="container d-flex justify-content-center align-items-center flex-wrap">
  <app-menu-item
    cardText="Manage animal types, add or delete them. Manage type specimens."
    cardTitle="Animal types"
    classType="primary"
    imageSource="https://img.icons8.com/windows/96/0D6EFD/book--v1.png"
    routerLink="animaltype"
  ></app-menu-item>

  <app-menu-item
    cardText="Create new or delete existing animal categories. View associated animal types."
    cardTitle="Categories"
    classType="success"
    imageSource="https://img.icons8.com/pastel-glyph/96/198754/dog--v5.png"
    routerLink="category"
  ></app-menu-item>

  <app-menu-item
    cardText="Create new or delete existing zookeepers. View associated animal types."
    cardTitle="Zookeepers"
    classType="warning"
    imageSource="https://img.icons8.com/windows/96/FFC107/guest-male--v1.png"
    routerLink="zookeeper"
  ></app-menu-item>

  <app-menu-item
    cardText="Food items management panel. View associated animal types."
    cardTitle="Food items"
    classType="danger"
    imageSource="https://img.icons8.com/windows/96/DC3545/caviar.png"
    routerLink="food"
  ></app-menu-item>
</div>