<form>
  <div class="m-3">
    <label class="form-label">Zookeeper name</label>
    <input #zookeeperNameInput (keyup)="validateName()" type="text" class="form-control" />
    <div *ngIf="isNameValid === true || isNameValid === null" class="form-text">Enter new zookeeper's name</div>
    <div *ngIf="isNameValid === false" class="form-text text-danger fw-bold">Minimum name's length is 3 letters</div>
  </div>

  <div class="m-3">
    <label class="form-label">Zookeeper surname</label>
    <input #zookeeperSurnameInput (keyup)="validateSurname()" type="text" class="form-control" />
    <div *ngIf="isSurnameValid === true || isSurnameValid === null" class="form-text">Enter new zookeeper's surname</div>
    <div *ngIf="isSurnameValid === false" class="form-text text-danger fw-bold">Minimum surname's length is 3 letters</div>
  </div>

  <div class="m-3">
    <label class="form-label">Zookeeper phone number</label>
    <input #zookeeperPhoneInput type="text" class="form-control" />
    <div class="form-text">Enter new zookeeper's phone number (optional)</div>
  </div>

  <div class="d-flex justify-content-end m-3">
    <button type="button" (click)="addZookeeper()" [disabled]="!isNameValid || !isSurnameValid" class="btn btn-primary m-1" data-bs-dismiss="modal">Add</button>
    <button type="button" class="btn btn-secondary m-1" data-bs-dismiss="modal">Cancel</button>
  </div>
</form>