<div class="d-flex">
  <button class=" btn bg-success border border-dark px-5" style="margin-top: 1%;margin-left: 1%; height:min-content; ">
    Menu
  </button>

  <h1 class=" text-center " style="margin-top: 3%; margin:0 auto; height:min-content;">ZOO Manager Project</h1>

  <div></div>
</div>

<nav class="position-absolute" style="background-color: seagreen;">
  <ul class="navbar-nav mr-auto">
    <li routerLink="">
      Main page
    </li>
    <li class="nav-item" routerLink="animaltype">
      Animal Types
    </li>

    <li class="nav-item" routerLink="category">
      Animal Categories
    </li>

    <li class="nav-item" routerLink="zookeeper">
      Zookeepers
    </li>

    <li class="nav-item" routerLink="food">
      Foods
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>