<div class="container-fluid">
  <div class="row bg-dark mb-3 border-bottom border-light">
    <div class="col-auto">
      <button class="btn btn-secondary m-3 border border-light menu-button" routerLink="">Menu</button>
    </div>

    <div class="col d-flex justify-content-center align-items-center">
      <h1 class="text-center text-light">ZOO Manager Project</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-auto">
      <nav class="d-flex flex-column">
        <button class="btn btn-success border border-dark m-2 menu-button" routerLink="animaltype">
          Animal types
        </button>

        <button class="btn btn-success border border-dark m-2 menu-button" routerLink="category">
          Animal categories
        </button>

        <button class="btn btn-success border border-dark m-2 menu-button" routerLink="zookeeper">
          Zookeepers
        </button>

        <button class="btn btn-success border border-dark m-2 menu-button" routerLink="food">
          Food items
        </button>
      </nav>
    </div>

    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>