<div class="d-flex">
  <button class="btn btn-dark m-3 border border-light" routerLink="">
    Menu
  </button>

  <h1 class="text-center" style="margin-top: 3%; margin:0 auto; height:min-content;">ZOO Manager Project</h1>

  <div></div>
</div>

<nav class="position-absolute">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item" routerLink="animaltype">
      <div class="btn btn-primary border border-dark m-2 menu-button">
        Animal Types
      </div>
    </li>

    <li class="nav-item" routerLink="category">
      <div class="btn btn-primary border border-dark m-2 menu-button">
        Animal Categories
      </div>
    </li>

    <li class="nav-item" routerLink="zookeeper">
      <div class="btn btn-primary border border-dark m-2 menu-button">
        Zookeepers
      </div>
    </li>

    <li class="nav-item" routerLink="food">
      <div class="btn btn-primary border border-dark m-2 menu-button">
        Food items
      </div>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>